@font-face {
  font-family: norse-bold;
  src: url(./font/Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image-section {
  background-image: url("./images/bg-image.jpg");
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-section {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-section img {
  height: 100%;
}

.logo-section h1 {
  font-family: norse-bold, sans-serif;
  font-size: 6.5rem;
  color: #fff;
}

.credit,
.credit a {
  color: #fff;
}
.credit {
  text-align: center;
  padding: 8px 0;
}

.content-section {
  width: 65%;
  background-color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 50px 60px;
  margin-top: 55px;
  font-size: 1.2rem;
  font-weight: 100;
  width: 1000px;
}
header h2:nth-child(3) {
  margin-top: 30px;
}

.form-box {
  padding: 30px 60px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

form h2 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item:nth-child(odd) {
  margin-right: 200px;
}

form label {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

form input {
  font-size: 1.2rem;
  border: 0.5px solid #000;
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

form input:focus {
  border: 1px solid rgb(10, 124, 218);
}

form input:focus:invalid {
  border: 1px solid red;
}

button {
  margin: 30px 0 20px 60px;
  font-size: 1.1rem;
  padding: 15px 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #596d48;
  border: none;
}

button:hover {
  background-color: #596d48de;
}

.login {
  margin-left: 60px;
}

.login a {
  text-decoration: none;
  color: #596d48;
}
